body {
   background-image: url(./../backgroung.jpg) ; 
 background-size: cover;
}
form {
  background: rgb(0, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(41, 77, 88, 0.1);
  width: 80%;
  font-family: Arial, sans-serif;
  align-items: center;
  
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


thead {
  text-align: center;
}


td {
  padding: 12px;
  border-bottom: 1px solid #a5d4f3;
}
tbody tr:nth-child(even) {
  background-color:rgba(121, 229, 253, 0.137);
}
tbody tr:nth-child(odd) {
  background-color:rgba(9, 110, 132, 0.137);
}

input, select {
  width: 50%;
  padding: 10px;
  border: 1px solid #0b92be;
  border-radius: 8px;
}

button {
  background: #034561;
  color:  #8ed1ee;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bolder;
display: inline-block;
}

button:hover {
  background: #8ed1ee;
  color: #0b92be;
  font-weight: bolder;
}

h3 {
  color: red;
  text-align: center;
}
.container {

max-width: 900px;

margin:50px auto;
padding: 20px;
background-color:  #fff;
border: 1px solid #0b92be;
border-radius: 10px;
box-shadow: 4px 3px 2px  #466069;
justify-content: center;
align-items: center;


}
h1{

color: #03161e;
text-align: center;
background-color: #a5d4f3;
}
h2 {
  color: #03161e;
  text-align: center;
  background-color: #8ed1ee58;
}
p {
  color: #466069;
  text-align: center;
}
